.card-container {
  perspective: 1000px;
  margin: 100px;
}
.card {
  width: 250px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
.front,
.back {
  position: absolute;
  backface-visibility: hidden;
}

.card.is-card {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  border-radius: 12px;
  border: 1px solid #ddd;
  backface-visibility: hidden;
}

.front {
  background: white;
}

.back {
  background: #1b1b1b;
  transform: rotateY(180deg);
  color: #fff;
}
